<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="box">

        <table>
            <tr>
                <th>Student Id </th>
                <td><%=record.Student_Id%></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><%=record.Name%></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><%=record.Gender%></td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td><%=record.DateOfBirth%></td>
            </tr>
            <tr>
                <th>City</th>
                <td><%=record.City%></td>
            </tr>
            <tr>
                <th>City</th>
                <td><%=record.State%></td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td><%=record.EmailId%></td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td><%=record.Qualification%></td>
            </tr>
            <tr>
                <th>Stream</th>
                <td><%=record.Stream%></td>
            </tr>
        </table>

    </div>
</body>

</html>